/* basic elements */
* {
  margin: 0;
  padding: 0;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* general classes */
.hidden {
  display: none;
}

.loading {
  animation: loading 2s infinite;
}

.panel {
  --nav-height: 50px;
  --divider: 500px;
  position: absolute;
  top: var(--nav-height);
}

/* nav panel */
.panel.nav {
  top: 0;
  left: 0;
  height: var(--nav-height);
}

.panel.nav.large {
  width: var(--divider);
}

.panel.nav.small {
  right: 0;
}

.panel.nav img {
  cursor: pointer;
}

.panel.nav #searchDiv {
  position: absolute;
  top: 0;
  left: 100px;
  bottom: 0;
  right: 71px;
}

.panel.nav #searchInput {
  height: 100%;
  width: 100%;
}

.panel.nav #optionsButton {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

/* takeoff list panel */
.panel.takeoffList {
  left: 0;
  bottom: 0;
}

.panel.takeoffList.large {
  width: var(--divider);
}

.panel.takeoffList.small {
  right: 0;
}

.panel.takeoffList #takeoffListDiv {
  height: 100%;
  overflow-y: auto;
}

.panel.takeoffList .takeoffListRow {
  position: relative;
  cursor: pointer;
  background-color: #fff;
}

.panel.takeoffList .takeoffListRow.alt {
  background-color: #ddd;
}

.panel.takeoffList .takeoffListRow span {
  position: absolute;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
}

.panel.takeoffList .takeoffListRow span.takeoffListEntryName {
  left: 50px;
  right: 150px;
}

.panel.takeoffList .takeoffListRow span.takeoffListEntryAsl {
  top: 20px;
  left: 50px;
  right: 110px;
}

.panel.takeoffList .takeoffListRow span.takeoffListEntryHeight {
  top: 20px;
  left: 180px;
  right: 100px;
}

.panel.takeoffList .takeoffListRow img,.panel.takeoffList .takeoffListRow svg {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.panel.takeoffList .takeoffListRow img.navigate {
  right: 95px;
}

.panel.takeoffList .takeoffListRow img.noaa {
  right: 5px;
}

.panel.takeoffList .takeoffListRow svg.favourite {
  right: 50px;
}

.panel.takeoffList #loadingDiv {
  height: 100%;
  overflow-y: auto;
}

.panel.takeoffList #loadingDiv h1 {
  width: 100%;
  text-align: center;
}

.panel.takeoffList #loadingDiv p {
  margin-top: 10px;
}

/* google map panel */
.panel.googleMap {
  bottom: 0;
  right: 0;
}

.panel.googleMap.large {
  top: 0;
  left: var(--divider);
}

.panel.googleMap.small {
  left: 0;
}

.panel.googleMap #google-map-view {
  height: 100%;
}

/* options panel */
.panel.options {
  left: 0;
  bottom: 0;
}

.panel.options.large {
  width: var(--divider);
}

.panel.takeofffList.small {
  right: 0;
}

/* forecast panel */
.panel.forecast {
  bottom: 0;
  right: 0;
}

.panel.forecast.large {
  top: 0;
  left: var(--divider);
}

.panel.forecast.small {
  left: 0;
}

.panel.forecast #forecastSelectionDiv {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.panel.forecast #forecastImagesDiv {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

.panel.forecast img {
  max-width: 100%;
  max-height: 100%;
}

/* animations */
@keyframes loading {
  from {opacity: 1;}
  50% {opacity: 0;}
  to {opacity: 1;}
}
