/* basic elements */
* {
  margin: 0;
  padding: 0;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* general classes */
.hidden {
  display: none;
}

.panel {
  --nav-height: 50px;
  --divider: 500px;
  position: absolute;
  top: var(--nav-height);
}

/* nav panel */
.panel.nav {
  top: 0;
  left: 0;
  height: var(--nav-height);
}

.panel.nav.large {
  width: var(--divider);
}

.panel.nav.small {
  right: 0;
}

.panel.nav img {
  cursor: pointer;
}

.panel.nav #searchDiv {
  position: absolute;
  top: 0;
  left: 100px;
  bottom: 0;
  right: 71px;
}

.panel.nav #searchInput {
  height: 100%;
  width: 100%;
}

.panel.nav #optionsButton {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

/* takeoff list panel */
.panel.takeoffList {
  left: 0;
  bottom: 0;
}

.panel.takeoffList.large {
  width: var(--divider);
}

.panel.takeoffList.small {
  right: 0;
}

.panel.takeoffList #takeoffListDiv {
  height: 100%;
  overflow-y: auto;
}

.panel.takeoffList .takeoffListRow {
  position: relative;
  cursor: pointer;
  background-color: #fff;
}

.panel.takeoffList .takeoffListRow.alt {
  background-color: #ddd;
}

.panel.takeoffList #loadingDiv {
  height: 100%;
  overflow-y: auto;
}

.panel.takeoffList #loadingDiv h1 {
  width: 100%;
  animation: loading 2s infinite;
  text-align: center;
}

.panel.takeoffList #loadingDiv p {
  margin-top: 10px;
}

/* google map panel */
.panel.googleMap {
  bottom: 0;
  right: 0;
}

.panel.googleMap.large {
  top: 0;
  left: var(--divider);
}

.panel.googleMap.small {
  left: 0;
}

/* options panel */
.panel.options {
  left: 0;
  bottom: 0;
}

.panel.options.large {
  width: var(--divider);
}

.panel.takeofffList.small {
  right: 0;
}

/* forecast panel */
.panel.forecast {
  bottom: 0;
  right: 0;
}

.panel.forecast.large {
  top: 0;
  left: var(--divider);
}

.panel.forecast.small {
  left: 0;
}

/* animations */
@keyframes loading {
  from {opacity: 1;}
  50% {opacity: 0;}
  to {opacity: 1;}
}
